swagger: "2.0"
info:
  title: Tamagochi API (Child) 
  description: This documentation seeks the Child routes on the Tamagochi project. All rights reserved to Universidade Positivo. See more information [here](https://github.com/entr0pie/api-tamagochi).
  version: 1.0.0
host: child.tamagochi.up.br 
basePath: /
schemes:
  - http
    
tags:
  - name: Profile 
    description: Authenticate and get basic Profile information 
  
securityDefinitions:
  BearerAuth:
    type: apiKey
    name: Authorization
    in: header

paths:
  /login:
    post:
      tags:
        - Profile 
      summary: Login as Child
      description: Login as a Child with the access token provided by the Parent. Make sure to register the Child first. 
      consumes:
        - application/json
      produces:
        - application/json

      parameters:
        - name: Access Token 
          in: body
          description: The 32 bytes access token of the Child.
          required: true
          schema:
            type: object
            properties:
              access_token:
                type: string
                example: 32_BYTES_TOKEN
      
      responses:
        200:
          description: Child logged successfully.
          schema:
            type: object
            properties:
              jwt_token:
                type: string
                example: JSON_WEB_TOKEN

        403:
          description: Access token is not valid.
          schema:
            type: object
            properties:
              error:
                type: string
                example: Permission Denied


definitions:

  # 401:
  #   $ref: "#/definitions/MissingAuthHeader"
  MissingAuthHeader:
      description: (Auth) The JWT token was not sent by the user on the Authorization header (eg. Bearer eyJhbGciOiJIUz ...). See [login](#/parent/post_parent_login) for more info 
      schema:
        type: object
        properties:
          msg:
            type: string
            example: Missing Authorization Header
  
  # 422:
  #   $ref: "#/definitions/UnprocessableEntity"
              
  UnprocessableEntity:
    description: (Auth) The server failed to verify the token signature.
    schema:
      type: object
      properties:
        msg:
          type: string
          example: Signature verification failed

  Child:
    type: object
    properties:
      access_token:
        type: string
      balance:
        type: integer
      gender:
        type: string
      name:
        type: string
      surname:
        type: string

  Task:
    type: object
    properties:
      name:
        type: string
      description:
        type: string
      period:
        type: integer
      frequency:
        type: string
      is_visible:
        type: integer
